<header class="header">
    <h1 class="header-heading">
        <a class="header-link" href="{% url 'contact:index' %}">
            Agenda
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">

            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contact:create' %}">Create</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contact:user_update' %}">Profile</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contact:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contact:login' %}">Login</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'contact:register' %}">Logout</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
            <input 
                type="search" class="search-input" placeholder="Search" 
                id="search" name="q" value="{{ request.GET.q.strip }}"
            >
        </form>
    </div>
</header>